# ignore the folder vscode automatically makes 
.vscode/

# ignoring the "unnecessary" files LaTeX makes when compiling
*.bbl
*.run.xml
*.aux
*.bcf
*.log
*.blg

# ignoring these files LaTeX makes (for some reason that I'm not sure)
*.tex*
*.bib*

# ignoring whatever the below files are
.gitignore.swp
..gitignore.un~
.gitignore~
*~

